* {
  max-width: 480px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

body {
    font-family: 'ROBOTO', sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}
