.comment-avatar {
  height:50px;
  width:50px;
  border-radius:50%;
  margin-top: 20px;
  margin-left: 30px;
}

.comment-center-input {
  text-align: center;
}

.comment-comment {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 30px;
}

.comment-hr {
  margin: 0 auto;
  border: 1px solid lightgrey;
  width: 310px;
}

.comment-username {
  position: relative;
  bottom: 20px;
  left: 15px;
}

