a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.bottom-whitespace {
  height: 50px;
}

.feed-avatar {
  height:50px;
  width:50px;
  border-radius:50%;
  margin-top: 10px;
  margin-left: 40px;
}

.feed-card {
  margin: 0 auto;
  /* background-color: #dfbdff; */
  width: 90%;
  margin-bottom: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 8px grey;
}

.feed-caption {
  padding: 10px;
  margin: 0 30px;
}

.feed-img {
  height: 300px;
  width: 300px;
  margin: 10px;
}

.feed-likes {
  position: relative;
  bottom: 5px;
  left: 8px;
}

.feed-username {
  position: relative;
  bottom: 20px;
  left: 15px;
}

.first-card {
  margin-top: 30px;
}