.feed-img {
  height: 300px;
  width: 300px;
  margin: 10px;
}

.feed-card {
  /* background-color: rgb(243, 224, 255); */
  margin-bottom: 50px;
}

.feed-caption {
  padding: 10px;
}

.feed-likes {
  position: relative;
  bottom: 5px;
  left: 8px;
}