input[type="file"] {
  display: none;
}

.avatar-editor-div {
  margin-top: 30px;
}

.browse-btn-txt {
  margin-top: 5px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 20px;
  background-color: #a2daff;
  color: white;
  font-size: 14px;
  height: 23px;
  box-shadow: 1px 1px 5px lightgrey;
  transition: 0.3s;
}

.custom-file-upload:hover {
  box-shadow: 1px 3px 5px #c2c2c2;
}

.img-whitespace {
  height: 406.5px;
}

/* For Google Chrome responsive display, makes visible there, makes invisible in Firefox */
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #eee;
  height: 18px;
  width: 18px;
  margin-top: -8px;
  border: 1px solid #999;
  border-radius: 99px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 4px;
  margin-left: 5px;
  background: #ddd;
}