.search-avatar {
  height:100px;
  width:100px;
  border-radius:50%;
  margin: 10px;
  cursor: pointer;
}

.search-div {
  margin-top: 10px;
}

.search-main-flex {
  display: flex;
  flex-wrap: wrap;
}

.search-col {
  flex-direction: column;
}