.following-avatar {
  height:100px;
  width:100px;
  border-radius:50%;
  margin: 10px;
  cursor: pointer;
}

.following-main-flex {
  display: flex;
  flex-wrap: wrap;
}

.following-col {
  flex-direction: column;
}

.heading-2 {
  text-align: center;
}