.register-form {
  background-color: #393E46;
  width: 260px;
  height: 450px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
  color: #EEE;
}

.register-heading {
  padding: 20px;
}

.register-hr {
  margin: 10px;
}